<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  

      <main class="container">
        <div class="row">
          <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
<br>
            

            <table class="table table-bordered table-striped table-hover">
              <!-- Header Row -->
              <tr>
                <th class="text-center col-2">Name</th>
                <th class="text-center col-2">Contact Number</th>
                <th class="text-center col-2">Email</th>
                <th class="text-center col-1"></th>
                <th class="text-center col-1"></th>
              </tr>
      
              <!-- Repeatable Template Row -->
              <% for (let count = 0; count < ContactList.length; count++) { %>
                <tr>
                  <td class="text-center col-2"><%= ContactList[count].name %></td>
                  <td class="text-center col-2"><%= ContactList[count]['contact number'] %></td>
                  <td class="text-center col-2"><%= ContactList[count].Email %></td>
                  <td class="text-center col-1">
                    <a href="/contact-list/Edit/<%= ContactList[count]._id %>" class="btn btn-outline-primary btn-xs">
                      <i class="fas fa-pencil-alt"></i> Edit
                    </a>
                  </td>
                  <td class="text-center col-1">
                    <a href="/contact-list/Delete/<%= ContactList[count]._id %>" class="btn btn-danger btn-xs">
                      <i class="fas fa-trash-alt"></i> Delete
                    </a>
                  </td>
                </tr>
              <% } %>
            </table>
          </div>
        </div>
      </main>
      

    <!--mission statement-->
    <% if (title == 'Home') { %>
        <div class="mission-statement">
          <a href="/about-me" class="btn btn-primary">About Me </a>
          <h2>Mission Statement</h2>
          <p>As an entry-level software engineer, my mission is to leverage my technical skills, creativity, 
            and passion for problem-solving to contribute to the 
            development of innovative software solutions. I am committed to 
            continuously learning and growing in this dynamic field, 
            staying up-to-date with the latest technologies and best practices. 
            With a focus on delivering high-quality, efficient, and user-centric 
            software, I aim to collaborate effectively with cross-functional teams, communicate clearly, 
            and embrace feedback to create impactful and reliable applications. 
            By striving for excellence and embracing challenges, my goal is to make a positive 
            impact on users' lives and contribute to the advancement of technology.</p>
        </div>
        <% } %>
    
        <style>
      .mission-statement {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      }
        </style>
    
        <!-- button-->
        <style>
        .jumbotron {
          position: relative;
        }
        
        .btn-primary {
          position: relative;
          top: 250px;
    ;
        } 
      </style>
    <style>
      .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        text-align: center;
      }
    </style>
        <!--About me-->
        <% if (title == 'About Me') { %>
          <div class="center">
          <div class="about-me">
            <h2>Melissa Jane Dennis</h2>
            <p>"Hello, everyone! I'm a nature-loving individual with a passion for 
              software engineering. I enjoy diving into code, conducting research, 
              and finding innovative solutions. With my analytical mindset and 
              attention to detail, I thrive on solving complex software challenges 
              and optimizing code for efficiency. By combining my love for nature 
              with my software engineering skills, I aspire to make a positive 
              impact. Let's collaborate to push the boundaries of technology and 
              create a better future."</p>
              <a href="https://drive.google.com/file/d/1V3c9OQxqOo2Sbn1PzWJ05BbtKPQeFvQJ/view?usp=drive_link" target="_blank">View My Resume</a>
          </div>
        </div>
          <% } %>
    
        <!--Projects-->
        <% if (title == 'Projects') { %>
          <div class="center">
          <div class="projects">
            <h2>Coming soon...</h2>
          </div>
          </div>
          <% } %>
    
        <!--Services-->
        <% if (title == 'Services') { %>
          <div class="center">
          <div class="services">
            <h2>Coming soon...</h2>
          </div>
          </div>
          <% } %>
    
    
          <!-- Contact Page -->
      <% if (title == 'Contact') { %>
        <div class="center">
        <div class="contact">
        <h2>Contact Us</h2>
        <form id="contactForm" action="#" method="POST">
          <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
          </div>
          <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
          </div>
          <div>
            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="4" required></textarea>
          </div>
          <div>
            <button type="submit">Send Message</button>
          </div>
        </form>
      </div>
    </div>
      <% } %>
    <style>
      .center {
        display: flex;
        justify-content: center;
      }
      
      .contact {
        width: 400px;
      }
      
      .form-group {
        margin-bottom: 20px;
      }
      
      label {
        display: block;
      }
      
      input,
      textarea {
        width: 100%;
        padding: 5px;
      }
      
      button {
        padding: 10px 20px;
      }
    </style>
    
    <script>
      const contactForm = document.getElementById('contactForm');
      
      contactForm.addEventListener('submit', (event) => {
        event.preventDefault(); // Prevent form submission
        
        // Fetch form input values
        const name = document.getElementById('name').value;
        const email = document.getElementById('email').value;
        const message = document.getElementById('message').value;
        
        console.log(`Message sent from ${name} (${email}): ${message}`);
        
        // Reset form fields
        contactForm.reset();
      });
    </script> 
    
    <style>
      .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 10rem;
      }
    
      .form-group{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 10rem;
      }
      
      .form-group label{
        margin-bottom: 10rem;
      }
      
      .form-group input,
      .form-group textarea {
        width: 100%;
        padding: 10rem;
      }
      
      .form-group button {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 10rem;
      }
    </style>
  </main>
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  





